@model Masters.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NineOneNineNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NineOneNineNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Snumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Snumber)
        </dd>
    </dl>
</div>

<div>
    <h4>Degree Plans</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <table class="table">
                <tr>
                    <th>RequirmentId</th>
                    <th>Requirement Name</th>
                </tr>
                @foreach (var item in Model.DegreePlans.OrderBy(r => r.DegreeId))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.DegreePlanId) </td>
                        <td>@Html.DisplayFor(modelItem => item.DegreePlanAbbrev)   </td>
                        <td>@Html.DisplayFor(modelItem => item.DegreePlanName)   </td>
                        <td>
                            <a asp-action="Edit" asp-controller="DegreePlan" asp-route-id="@item.DegreePlanId">Plan</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>